@{
    ViewBag.Title = " О нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Сервис «Будующий миллионер» — это комплекс услуг помогающих вам получить небольшие по объему займы.
    Он постоянно дополняется различными опциями, направленными, как на улучшение условий получения кредита, так и удобства использования данного вида финансовых услуг.
    При этом у клиента есть возможность выбора между ними, благодаря чему он может воспользоваться теми сервисами, которые ему наиболее необходимы.
    Пользование данного ресурса, означает полное согласие с политикой сайта.
    Сервис строго предназначен для лиц старше 18 лет.
    Все услуги оказываются дистанционно, через Интернет, круглосуточно, без праздничных и выходных дней.
    Сервис "Будующий миллионер" — не является финансовым учреждением, банком или кредитором, и не несет ответственности за любые заключенные договора или условия.
    "Будующий миллионер" - осуществляет посреднические услуги между клиентом, который хочет получить деньги в заём, и кредитным учреждением, чья деятельность лицензирована и носит официальный характер.
</p>
