@{
    ViewBag.Title = "Contact";
}
<h2>Что бы связаться с нами </h2>
<h3>Напишите нам на Mail мы ответим вам в течении двух суток
    Либо по звоните по телефону горячей линии , звонок бесплатный
    </h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +79605122579
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:vahidushka37@bk.ru">vahidushka37@bk.ru</a><br />
</address>