@{
    ViewBag.Title = "Будующий миллионер";
}

<div class="jumbotron">
    <h1>Будующий миллионер</h1>
    <p class="lead">.</p>
    <p>@Html.ActionLink("Взять Кредит", "TakeCredit", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Условия выдачи займа</h2>
        <p>
            
            Займы предоставляются на сумму от 5 000 до 50 000 рублей включительно на срок от 10 до 44 недель. 
            Проценты за пользование займом составляют от 173,418 до 287,425 процентов годовых.
            Расчетная сумма (основной долг и проценты) к возврату от 20 000 до 202 400 рублей. 
            Условия актуальны на 01.10.2017. Пример расчета общей стоимости займа: заём на 15000 руб. и сроком 10 недель; 
            проценты за весь период составят 5000 руб. Итого ПСК 264,392 %
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Невыплата займа или просрочки</h2>
        <p>
            В случае невозвращения в условленный срок суммы кредита или суммы процентов за пользование заёмными средствами кредитор вынуждено начислит штраф за просрочку платежа. 
            Большинство кредиторов идут на уступки и дают 3 дополнительных рабочих дня для оплаты.
            Они предусмотрены на случай, к примеру, если банковский перевод занял больше времени, чем обычно.
            Однако, в случае неполучения от Вас какой-либо реакции в течение продолжительного времени, будет начислен штраф за просрочку срока погашения размером в среднем 0,10% от первоначальной суммы для займов, 0,03% от суммы задолженности в среднем для потребительских кредитов и кредитных карт.
            При несоблюдении Вами условий по погашению кредитов и займов, данные о Вас могут быть переданы в реестр должников или БКИ, что негативно может сказаться на Вашей кредитной истории и рейтинге кредитоспособности.
            Рекомендуем Вам вносить платеж в день получения данных напоминаний. 
            Погашая задолженность в срок, Вы формируете хорошую кредитную историю, что повышает Ваш рейтинг кредитоспособности и шансы в дальнейшем получить кредит на более выгодных условиях..
        </p>
    </div>
   
</div>