
@{
    ViewBag.Title = "Send";
}

<h2>Ваш запрос на кредитование отправлен</h2>
<p>
    Вы получите ответ по смс на номер телефона либо с вами свяжутся для дальнейших действий 

    Спасибо что выбрали наш сервис услуг по предоставлению кредитов "Будущий миллионер"
</p>

